.carousel-wrapper {
  width: 100%;
}

#carouselBanners {
  width: 100%;
}

#carouselBanners .carousel-item img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 30px;
  border-radius: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-caption h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.carousel-caption p {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-indicators [data-bs-target] {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: white;
}
